<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<!--action-->
	<bean name="deptAction" class="org.wenhanglei.auth.dept.web.DeptAction">
		<property name="deptEbi" ref="deptEbi"/>
	</bean>

  <!--business-->
	<bean name="deptEbi" class="org.wenhanglei.auth.dept.business.ebo.DeptEbo">
		<property name="deptDao" ref="deptDao"/>
	</bean>

	<!--dao-->
	<bean name="deptDao" class="org.wenhanglei.auth.dept.dao.impl.DeptDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

</beans>
	
