<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean name="empAction" class="org.wenhanglei.auth.emp.web.EmpAction" scope="prototype">
		<property name="empEbi" ref="empEbi"/>
		<property name="deptEbi" ref="deptEbi"/>
	</bean>

	<bean name="empEbi" class="org.wenhanglei.auth.emp.business.ebo.EmpEbo">
		<property name="empDao" ref="empDao"/>
		<property name="deptDao" ref="deptDao"/>
	</bean>

	<bean name="empDao" class="org.wenhanglei.auth.emp.dao.impl.EmpDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

</beans>
	
